@import '/home/jimbo/.cache/wal/colors.scss';

* {
    all: unset;

    font-family: 'JetBrains Mono Nerd Font';
    font-size: 16px;

    background: transparent; 
    color: $foreground;
}

#window {
    background: rgba($background, .9);
    filter: blur(100px);
    border-radius: 10px;
}

#outer-box {
    padding: 30px;
}

#inner-box {
    margin-top: 20px;
}

#input image.left {
    padding-right: 15px;
}

#text {
    color: $color8;
}

#text:selected {
    color: $foreground;
}
